*{
    margin:0;
    padding: 0;
}
 
body{
   font-family: Abril Fatface, sans-serif;
    background: linear-gradient(90deg, #56AB2F 0%, #A8E063 100%); 
    
 }
 header {
    background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    
  }
  
  .main-nav {
    height: 48px;
    
  }
  
  .logo {
    color: white;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
   
  }
  
  .navlinks {
    list-style: none;
    float: right;
    line-height: 90px;
    
    margin: 0;
    padding: 0;
    z-index:1;
  }
  
  .navlinks li {
    display: inline-block;
    margin: 0px 20px;
  }
  
  .navlinks li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s linear 0s;
    text-transform: uppercase;
  }
  
  .navlinks li a:hover {
    color: #7ebcb9;
    padding-bottom: 7px;
    border-bottom: 2px solid #7ebcb9;
  }
  
  li a.contact {
    background-color: #00adb5;
    padding: 9px 20px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    border-bottom: none;
  }
  
  li a.contact:hover {
    background-color: #047e85;
    color: white;
    border-bottom: none;
  }
  
  #check {
    display: none;
  }
  
  .menu-btn {
    font-size: 25px;
    color: black;
    float: left;
    position: absolute;
    left: 5.64%;
    right: 89.74%;
    display: none;
    cursor: pointer;
  }
  
  

 #where{
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  border-radius: 15px;

 }
.google{
   border-radius: 15px;
   box-shadow: 0 4px 20px rgb(56, 56, 56);
}

    
    

    #form {
      font-family: Abril Fatface, sans-serif;
      width: 95vw;
      height: 390px;
      margin: 0 auto;
      background-image: url(images/forest-s.jpg);
      opacity: 85%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
    
  }

  
    
  p.info{
    display: flex;
    justify-content: center;
    align-items: center;
    width:84vw;
    height: 4vh;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgb(56, 56, 56);
    
    

  }
  span{
    font-family: Abril Fatface, sans-serif;
    color: #185467;
   
  }

  label {
      display: flex;
      align-items: center;
      margin: 1rem 0;
      
      
  }
  input{
    font-family: abril fatface, sans-serif;
    background-color: rgb(252, 252, 252);
    width:84vw;
    height: 4vh;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    box-sizing:border-box;
    
  }
  
  fieldset{
    border:none;
    box-sizing: border-box;
  }
 
textarea{
      background-color: white;
      width:84vw;
      height: 17vh;
      box-sizing: border-box;
      border-radius: 5px;
      border: none;
      resize: none;
      box-shadow: 0 4px 10px rgb(56, 56, 56);
          
 }
    #submit{
      
      font-family: abril fatface, sans-serif;
      color:#185467;
      font-size: 1em;
      width: 11vh;
      margin-top: 1vh;
      padding: 0;
      border-radius: 15px ;
      text-align: center;
      box-sizing: border-box;

    }
    
      div #social {
        
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 1vh;
    }

    .reso{
      background: #185467;
      text-decoration: none;
      width: 60%;
      height: 60%;
    }
    footer{
      font-family: abril fatface, sans-serif;
      color:white;
      display: flex;
      justify-content: center;
      
    }
   div #mention{
    display:flex;
    justify-content: center;
    align-items: center;
     }  
     img#pied{
      margin-bottom: 0;
     }
      
    
    .copyright{
    position:absolute;
    bottom: 125vh;
    
   
}


  


  

/* RESPONSIVE---------------------------------------------------------------------------------*/
@media (max-width:800px){
  
    .main-nav {
      height:6vh;
    }
    .navlinks {
      position: fixed;
      width: 100%;
      text-align: center;
      transition: all 0.5s;
      right: 100%;
      background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    }
  
    .navlinks li {
      display: block;
    }
  
    .navlinks li a {
      font-size: 20px;
    }
  
    .navlinks li a:hover {
      border-bottom: none;
      
    }
  
    .menu-btn {
      display: block;
    }
  
    #check:checked ~ .navlinks {
      right: 0;
    }

    #map{
      
      margin-top: 1vh;
      margin: 0 auto;
      
      
  }
  .google{
     border-radius: 15px;
     box-shadow: 0 4px 20px rgb(56, 56, 56);
   
  }
    div #form {
      font-family: Abril Fatface, sans-serif;
      width: 95%;
      height: 390px;
      margin: 0 auto;
      background-image: url(images/forest-s.jpg);
      
      background-repeat: no-repeat;
      background-position: center;
      opacity: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      margin-top: 1vh;
  }
    p.info{
      display: flex;
      justify-content: center;
      align-items: center;
      width:90vw;
      height: 4vh;
      text-align: center;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
    }
     
      
      
      
  
  
    span{
      font-family: Abril Fatface, sans-serif;
      color: #185467;
     
    }
  
    label {
        display: flex;
        align-items: center;
        
        
        
    }
    input{
      
      width:90vw;
      height: 4vh;
      border-radius: 5px;
      border: none;
      padding-left: 5px;
      box-sizing:border-box;
      margin: 0 auto;
      
    }
    
    fieldset{
      border:none;
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }  
      textarea{
        background-color: white;
        width:90vw;
        height: 17vh;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
        resize: none;
        margin: 0 auto;
            
      }
      #submit{
        
        font-family: abril fatface, sans-serif;
        color:#185467;
        font-size: 1em;
        width: 11vh;
        margin-top: 2vh;
        padding: 0;
        border-radius: 15px ;
        text-align: center;
        box-sizing: border-box;
  
      }
      
        div #social {
          
          width: 75%;
          margin: auto;
          display: flex;
          justify-content: space-between;
          margin-top: 1vh;
      }
  
      .reso{
        background: #185467;
        text-decoration: none;
        width: 60%;
        height: 60%;
      }
      footer{
        font-family: abril fatface, sans-serif;
        color:white;
        display: flex;
        justify-content: center;
        
      }
     div#mention{
      display:flex;
      justify-content: center;
      align-items: center;
       }  
       img#pied{
        margin-bottom: 0;
       }
      #mention{
        margin-top: 5vh
      }
      
      .copyright{
     bottom: 0;
      
      
  }


  
  @media (min-width: 800px) {
  body{
   
   
    background: linear-gradient(90deg, #56AB2F 0%, #A8E063 100%); 
 }
 header {
    background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    
  }
  
  .main-nav {
    height: 48px;
  }
  
  .logo {
    color: white;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    
    font-family: abril fatface, sans-serif;
  }
  
  .navlinks {
    list-style: none;
    float: right;
    line-height: 50px;
    font-family: abril fatface, sans-serif;
    margin: 0;
    padding: 0;
    z-index:1;
  }
  
  .navlinks li {
    display: inline-block;
    margin: 0px 30px;
  }
  
  .navlinks li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s linear 0s;
    text-transform: uppercase;
  }
  
  .navlinks li a:hover {
    color: #7ebcb9;
    padding-bottom: 7px;
    border-bottom: 2px solid #7ebcb9;
  }
  
  li a.contact {
    background-color: #00adb5;
    padding: 9px 20px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    border-bottom: none;
  }
  
  li a.contact:hover {
    background-color: #047e85;
    color: white;
    border-bottom: none;
  }
  
  #check {
    display: none;
  }
  
  .menu-btn {
    font-size: 25px;
    color: black;
    float: left;
    position: absolute;
    left: 5.64%;
    right: 89.74%;
    display: none;
    cursor: pointer;
  }
  
  

 div#map{
    display: flex;
    justify-content: left;
    margin-top: auto;
    
    
}
.google{
   background-image: url(images/map.png);
   width: 100vw;
   border-radius: 15px;
   box-shadow: 0 4px 20px rgb(56, 56, 56);
}
#block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: auto;
  align-items: start;

  margin-left: 50px;
  box-sizing: border-box;
}
#map{
  display:flex;
  justify-content: center;
  align-items: center;
}

#middle{
  margin-right:0;
}


    #form {
      
      right: 0;
      width: 30vw;
      height: 777px;
      font-family: Abril Fatface, sans-serif;
       background-image: url(images/forest-s.jpg);
      background-repeat: no-repeat;
      background-position: center;
      opacity: 85%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      margin-top:20px;
      
  }

  
    
  p.info{
    display: flex;
    justify-content: center;
    align-items: center;
    width:380px;
    height: 4vh;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-top: 12vh;
    
    

  }
  span{
    font-family: Abril Fatface, sans-serif;
    color: #185467;
   
  }

  label {
      display: flex;
      align-items: center;
      margin: 1rem 0;
      
      
  }
  input{
    font-family: abril fatface, sans-serif;
    font-size: 1.2em;
    background-color: rgb(252, 252, 252);
    width:380px;
    height: 4vh;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    box-sizing:border-box
    
  }
  
  fieldset{
    border:none;
  }
 
    textarea{
      background-color: white;
      width:380px;
      height: 265px;
      box-sizing: border-box;
      border-radius: 5px;
      border: none;
      resize: none;
          
    }
    #submit{
      
      font-family: abril fatface, sans-serif;
      color:#185467;
      font-size: 2em;
      width: 241px;
      height: 87px;
      margin-top: 2vh;
      padding: 0;
      border-radius: 15px ;
      text-align: center;
      box-sizing: border-box;

    }
    
      div #social {
       
        width: 500px;
        margin: auto;
        margin-top: 2vh;
        
        
    }

    .reso{
      background: #185467;
      text-decoration: none;
      width: 60%;
      height: 60%;
    }
    footer{
      font-family: abril fatface, sans-serif;
      
      
    
      
    }
   #mention{
    display:flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
     }  
   #pied{
    width:100vw;
    height: 20vh;

    
     }
      
    
    .copyright{
    position:absolute;
    font-size: 2em;
   margin-top: 10vh;
    
   
}
}
@media (max-width: 360px) {
  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    color: blue;
  }
}